## Задание №1

С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [1]:
import os
import pandas as pd

In [2]:
DATA_PATH = f'{os.getcwd()}/names/'

In [3]:
def top3(years):
    pds_to_concat = []
    for year in years:
        pds_to_concat.append(
            pd.read_csv(DATA_PATH + 'yob{}.txt'.format(year),
            header=None,
            names = ['Name', 'Gender', 'Count'])
        )
    names = pd.concat(pds_to_concat, axis=0)
    return names.sort_values(by='Count', ascending=False).head(3)

In [4]:
top3([1880])

        Name Gender  Count
942     John      M   9655
943  William      M   9532
0       Mary      F   7065

In [5]:
top3([1900, 1950, 2000])

        Name Gender  Count
6113   James      M  86238
6114  Robert      M  83575
0      Linda      F  80439

## Задание №2

С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

In [10]:
def dynamic(years):
    result = {
          'F': [],
          'M': []
        }
    for year in years:
        names = pd.read_csv(DATA_PATH + 'yob{}.txt'.format(year),
                    header=None,
                    names = ['Name', 'Gender', 'Count']
        )
        result['M'].append(names[names.Gender == 'M'].Count.sum())
        result['F'].append(names[names.Gender == 'F'].Count.sum())
    
    return result

In [11]:
print(dynamic([1900, 1950, 2000]))

{'F': [299810, 1713259, 1814922], 'M': [150486, 1790871, 1962744]}